MAILGUN_API_KEY=your_mailgun_api_key
MAILGUN_BASE_URL=https://api.eu.mailgun.net
MAILGUN_DOMAIN=mg.octisight.com
MAILGUN_FROM='OctiSight Contact <contact@mg.octisight.com>'
MAILGUN_TO=contact@octisight.com
